<p>
  <label><%=:name %></label>
  <%= text_field_tag :name %>
</p>
<p>
  <%= label :hometown %>
  <%= text_field :hometown %>
</p>
<p>
  <%= label :birthday %>
  <%= date_field :birthday %>
</p>
  <%= submit %>
